@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
body{
  font-family: 'Didact Gothic';
}
#intro{
  background-image: url('../assets/intro.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  color:white;
  padding-top: 200px;
  padding-bottom: 200px;
  font-weight: bold;
}
.section-title{
  text-align: center;
}
hr{
  border-top: 1px solid black;
}
.pizza_img{
  height: 300px
}
#delivery-option{
  align-items: center;
}
footer{
  padding-top: 35px;
  margin-bottom:30px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color:white;

}
#delivery-form,#summary, #pickup-summary,.deliver,.pick_up,#delivery-summary{
  display:none;
}
#menu{
 padding: 20px;
 background-color:#DEB887;
 border-radius: 20px;
 margin-bottom: 30px
}
.contacts{
    background-image: url('../assets/contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#summary,#pickup-summary{
 padding: 20px;
 background-color:#DEB887;

}
@media screen and (max-width: 450px) {
  #menu{
      width: 50%;
  }

}
